body {
  max-width: 500px;
  padding: 40px;
  margin: 0 auto;
  background: #E5E5E5;
  font: 2em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  line-height: .8;
  font-weight: 100;
  margin-bottom: 0;
}

h2 {
  line-height: 1;
  font-weight: 200;
  margin-top: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}
nav a {
  color: #903D3D;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

.container {
  padding: .4em;
  margin-bottom: 1px;
  color: white;
}

.fork-me {
  width: 148px;
  height: 148px;
  font: 0/0 a;
  position: absolute;
  top: 0;
  right: 0;
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png);
}
